input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.minutes, .hours {
    margin-top: 3%;
    text-align: center;
    width: 15%;
}

.calendar-day {
    cursor: pointer;
}

#event-calendar, #task-calendar {
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    cursor: default;
    
}