h2 {
    font-size: 1.3em;
    font-family: inherit;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10%;
}

.card {
    padding: 4%;
}

.user, .group-name {
    display: inline-block;
    width: 49%;
    background-color: #ececec;
    overflow: hidden;
}

.submit-button {
    width: 100%;
    height: 40px;
    background-color: #ececec;
    border: none;
    margin-top: 4%;
    cursor: pointer;
}

.with-delete {
    width: 49%;
    text-align: center;
}

.half {
    width: 49%;
}