select {vertical-align: top}

input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bigger-margin {
    margin-top: 8.7%;
}

.card-text {
    margin-top: 2%;
    padding: 3%;

}
.delete-button {
float: right;
margin-top: -1%;
margin-right: -2.2%;
cursor: pointer;
}

.reference-card {
  padding-bottom: 7%;
}

.reference-creator {
  float: right;
  color: #C2C2C2;
  font-weight: bold;
  font-size: 0.8em;
}

.ref-name h3 a {
  color: #e99322;
  text-decoration: none;
}

.plus-button, .minus-button {
  width: 47%;
  height: 50px;
  margin: 4% 1%;
  background-color: #ececec;
  display: block;
  float: left;
}
.minus-button span, .plus-button span {
  display: block;
  height: 20px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.plus-button {
    border: 1px solid green;
}

.minus-button {
    border: 1px solid red;
}

.hidden-content {
  border-top: 1px solid #AAAAAA;
  background-color: #ececec;
  padding: 3%;
  display: none;
}

.load-comments img {
  height: 20px;
  float: right;
  margin-right: 20px;
}

.load-comments {
  border-top: 0;
}

.comment {
  margin: 3%;
}

.comment img {
  width: 10%;
  max-width: 50px;
}

.comment-content {
  padding: 3%;
  width: 91%;
  min-height: 50px;
  background-color: white;
  display: inline-block;
}

.comment textarea {
    font-family: inherit;
    font-weight: 300;
    resize: none;
    border: none;
    padding: 3%;
    width: 91%;
    min-height: 50px;
    background-color: white;
    display: block;
    font-size: inherit;
    margin: 0;
}

#send-comment {
    border: 0;
    width: 97%;
    height: 30px;
    background-color: white;
    display: inline-block;
    text-align: right;
}

#load-older {
    height: 40px;
    text-align: center;
    border: 0;
    background-color: white;
    width: 40%;
    margin-left: 30%;
}