h2 {
    font-size: 1.3em;
    font-weight: 300;
}
.pw-change-descr {display: inline-block; width: 40%}
.display {display: inherit !important;}
h3 {
    font-size: 1em !important;
}

.card {
    padding: 3%;
}

#profile-settings {
    padding: 2%;
    margin: 0 5%;
    background-color: #ececec;
}

#profile-settings label {
    margin: 0 2%;

}
#profile-settings label input {
    display: none;
}

.active {
    border: 2px solid green;
}

.submit-profile-picture {
    margin-bottom: 8%;

}
.card button {
    margin-top: 2%;
    height: 40px;
    width: 100%;
    background-color: white;
    text-align: center;
    border: 1px solid grey ;
}




