<!DOCTYPE html>
<html lang="en" id="doc" class="js">
    <head>
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/scroozer_concept.css" />
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />
        <link rel="stylesheet" href="/static/approval_page.css" />
        <script src="/static/jquery.js"></script>
        <script src="/static/scripts.js"></script>
        <title>Oxys: Approve Members</title>
    </head>
    <body>
        <div id="header">	
            <a class="menu-button" href="#menu">
                <img src="/static/graphics/menu_button.svg" alt="menu-button">
            </a>
            <div id="logo">
                <a href="/"><h1>Oxys</h1></a>
            </div>
        </div> <!--end header -->
        <div id="ultraContainer">
            <nav id ="menu" role="navigation">
                <ul id="nav">
                    <li><a href="/">
                        <img src="/static/menu_icons/home.svg" alt="Go Home" />
                        <div>Home</div>
                        </a></li>
                    <li><a href="/viewGroups">
                        <img src="/static/menu_icons/groups.svg" alt="Create a Group" />
                        <div>Groups</div>
                        </a></li>
                    <li class="test-icon">
                        <a href="/createGroup">
                            <img src="/static/menu_icons/create_group.svg" alt="Create a Group" />
                            <div>Create</div>
                        </a>
                    </li>
                    <li>
                        <a href="/settings">
                            <img src="/static/menu_icons/settings.svg" alt="Account Settings" />
                            <div>Settings</div>
                        </a>
                    </li>
                    <li><a class="menu-log-out" href="/logout">
                        <img src="/static/menu_icons/logout.svg" alt="Logout" />
                        <div>Logout</div>
                        </a></li>
                </ul>
            </nav>
            <section role="main">
                <div class="card">
                    {% if approval_list %}
                    <h2>Choose the people you want to approve:</h2>
                    <form id="approval-form" method="post">
                        <input type="hidden" name="dontCSRFme" value="{{ csrf_token }}" />
                        {% for user in approval_list %}
                        <label>
                            <div class="user">
                                <input type="checkbox" name="user" value="{{ user.key.urlsafe() }}"/>
                                <span>{{ user.name }}</span>
                            </div>
                        </label>
                        {% endfor %}
                        <br />
                        <input type="hidden" name="delete" value="" />
                        <input class="submit-button with-delete" type="submit" value="Approve" />
                        <input class="submit-button with-delete delete" type="button" value="Remove from list" />
                    </form>
                    {% else %}
                    <h2>There are no people awaiting your approval.</h2>
                    {% endif %}
                </div><!-- end card -->
            </section>
        </div><!-- end ultraContainer -->
        <script>
            $(".delete").click(function(){
                $("input[name=delete]").val("1");
                $("#approval-form").submit();
            });
        </script>
    </body>
</html>