<!DOCTYPE html>
<html lang="en" id="doc" class="js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/scroozer_concept.css" />
        <link rel="stylesheet" href="/static/approval_page.css" />
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />
        <script src="/static/jquery.js"></script>
        <script src="/static/scripts.js"></script>
        <title>Oxys: Members of Group</title>
    </head>
    <body>
        <div id="header">	
            <a class="menu-button" href="#menu">
                <img src="/static/graphics/menu_button.svg" alt="menu-button">
            </a>
            <div id="logo">
                <a href="/"><h1>Oxys</h1></a>
            </div>
        </div> <!--end header -->
        <div id="ultraContainer">
            <nav id ="menu" role="navigation">
                <ul id="nav">
                    <li><a href="/">
                        <img src="/static/menu_icons/home.svg" alt="Go Home" />
                        <div>Home</div>
                        </a></li>
                    <li><a href="/viewGroups">
                        <img src="/static/menu_icons/groups.svg" alt="Create a Group" />
                        <div>Groups</div>
                        </a></li>
                    <li class="test-icon">
                        <a href="/createGroup">
                            <img src="/static/menu_icons/create_group.svg" alt="Create a Group" />
                            <div>Create</div>
                        </a>
                    </li>
                    <li>
                        <a href="/settings">
                            <img src="/static/menu_icons/settings.svg" alt="Account Settings" />
                            <div>Settings</div>
                        </a>
                    </li>
                    <li><a class="menu-log-out" href="/logout">
                        <img src="/static/menu_icons/logout.svg" alt="Logout" />
                        <div>Logout</div>
                        </a></li>
                </ul>
            </nav>
            <section role="main">
                <div class="card">
                    {% if admin_list %}
                    <h2>Admins of this Group:</h2>
                    {% for user in admin_list %}
                    <label>
                        <div class="user">
                            <span>{{ user.name }}</span>
                        </div>
                    </label>
                    {% endfor %}
                    {% endif %}
                    {% if member_list %}
                    <h2>Members of this Group:</h2>
                    <form method="post">
                        <input type="hidden" name="make-admin" value="" />
                        <input type="hidden" name="dontCSRFme" value="{{ csrf_token }}" />
                        {% for user in member_list %}
                        <label>
                            <div class="user">
                                {% if user_key in group.admins %}
                                <input type="checkbox" name="user" value="{{ user.key.urlsafe() }}"/>
                                {% endif %}
                                <span>{{ user.name }}</span>
                            </div>
                        </label>
                        {% endfor %}
                        <br />
                        {% if user_key in group.admins %}
                        <input class="submit-button half" type="submit" value="Remove" />
                        <input class="submit-button half make-admin" type="button" value="Make administrator" />
                        {% endif %}
                    </form>
                    {% else %}
                    <h2>This Group has no members.</h2>
                    {% endif %}
                </div><!-- end card -->
            </section>
        </div><!-- end ultraContainer -->
        <script>
            $(".make-admin").click(function(){
                $("input[name=make-admin]").val("1");
                $('form').submit();
            });
        </script>
    </body>
</html>