<!DOCTYPE html>
<html lang="en" id="doc" class="js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/scroozer_concept.css" />
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />
        <link rel="stylesheet" href="/static/view_all_refs.css" />
        <script src="/static/jquery.js"></script>
        <script src="/static/scripts.js"></script>
        
        
        <title>Oxys: All References</title>
    </head>
    <body>
        <div id="header">	
            <a class="menu-button" href="#menu">
                <img src="/static/graphics/menu_button.svg" alt="menu-button">
            </a>
            <div id="logo">
                <a href="/"><h1>Oxys</h1></a>
            </div>
        </div> <!--end header -->
        <div id="ultraContainer">
            <nav id ="menu" role="navigation">
                <ul id="nav">
                    <li><a href="/">
                        <img src="/static/menu_icons/home.svg" alt="Go Home" />
                        <div>Home</div>
                        </a></li>
                    <li><a href="/viewGroups">
                        <img src="/static/menu_icons/groups.svg" alt="Create a Group" />
                        <div>Groups</div>
                        </a></li>
                    <li class="test-icon">
                        <a href="/createGroup">
                            <img src="/static/menu_icons/create_group.svg" alt="Create a Group" />
                            <div>Create</div>
                        </a>
                    </li>
                    <li>
                        <a href="/settings">
                            <img src="/static/menu_icons/settings.svg" alt="Account Settings" />
                            <div>Settings</div>
                        </a>
                    </li>
                    <li><a class="menu-log-out" href="/logout">
                        <img src="/static/menu_icons/logout.svg" alt="Logout" />
                        <div>Logout</div>
                        </a></li>
                </ul>
            </nav>
            <section role="main">
                <div class="card">
                    {% if admin_refs %}
                    <h3>References by Admins:</h3>
                    {% else %}
                    <h3>References by Members:</h3>
                    {% endif %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Ups</th>
                            <th>Downs</th>
                        </tr>
                        <tbody>
                            {% for ref in references %}
                            <tr>
                                <td>
                                    <a href="/topics/{{ topic_key }}/references/{{ ref.key.urlsafe() }}">
                                        {{ ref.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ ref.ref_type }}
                                </td>
                                <td>
                                    {{ ref.up_votes }}
                                </td>
                                <td>
                                    {{ref.down_votes}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    
                </div><!-- end card -->
            </section>
        </div><!-- end ultraContainer -->
    </body>
</html>